 

  <div *ngIf="course!=null" class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/ltgrouplogo.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 appHighlight class="card-title">{{ course.name | uppercase }}</h5>
      <p class="card-text">{{ course.description | shorten: 10 }} </p>
      <p class="card-text">Start Date : {{ course.startDate | date:'dd-MMM-yy' }}</p>
      <p class="card-text">Trainer: {{ course.trainer }}</p>
      <button (click)="handleEnroll()" class="btn btn-primary">Enroll!</button>
    </div>
  </div>



